/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
FONT COLORS
#343a40
#212529

PAGE COLORS

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #212529;
}

p {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #212529;
}

.hidden {
  display: none;
}

.hidden-accordion {
  opacity: 1;
  max-height: 100vh;
  overflow: hidden;
}

.rotate {
  transform: rotate(90deg);
}

.disable-hover {
  pointer-events: none !important;
}

.email {
  text-decoration: underline;
}

.email:hover,
.email:active {
  cursor: pointer;
}
