/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* 1220px - Smaller laptops */
@media (max-width: 76em) {
  .cta-button {
    font-size: 3.4rem;
    max-width: 40rem;
  }
  .hero-text-container {
    width: 70rem;
    height: 37.5rem;
  }
  .hero-text {
    font-size: 7.4rem;
  }
  .about-list-items h4 {
    font-size: 4rem;
  }
  .about-list-items p {
    padding: 2.4rem 2.4rem 2.4rem 0;
  }
  .about-list-items {
    grid-template-rows: 1fr 1fr 3fr;
  }
  .plans-container {
    padding-left: 0;
  }
  .faqS-container {
    padding: 0;
  }
}

/* 1070px - Laptops- larger tablets */
@media (max-width: 67em) {
  .section-about {
    padding: 6.4rem 0 6.4rem 4.8rem;
  }
  .about-list-items h4 {
    font-size: 3.2rem;
  }
  .about-list-items p {
    padding: 1.2rem 2.4rem 2.4rem 0;
  }
  .form-text {
    font-size: 3rem;
  }
  .plan {
    width: 25rem;
  }
  .plan-price {
    font-size: 4.8rem;
  }
}

/* 890px - Tablets */
@media (max-width: 56em) {
  .hero-text {
    font-size: 6.4rem;
  }
  .hero-text-container {
    width: 65rem;
    height: 32.5rem;
  }
  .section-hero {
    height: 60rem;
  }
  .cta-button {
    transform: translate(0, 450%);
  }
  .section-about {
    gap: 0;
    grid-template-rows: 1fr 5fr;
  }
  .about-title,
  .testimonials-title,
  .gallery-title,
  .plans-title,
  .faq-title,
  .form-title {
    font-size: 5.6rem;
  }
  .about-list {
    gap: 2rem;
  }
  .about-list-items h4,
  .faq {
    font-size: 3.2rem;
  }
  .about-list-items p,
  .testimonials-container p {
    font-size: 2.2rem;
  }

  .faq {
    padding: 1.2rem;
  }
  .faq-content {
    font-size: 2rem;
  }
  .form-text {
    font-size: 2.4rem;
  }
  .plan-title {
    font-size: 2.4rem;
  }
  .plan {
    width: 22.5rem;
  }
  .plan-price {
    font-size: 3.6rem;
  }
  .plans-container {
    gap: 1rem;
  }
}

/* 790 px Smaller tablets */
@media (max-width: 49em) {
  .header {
    display: flex;
  }
  .mobile-nav-open {
    height: 4.8rem;
    display: block;
  }
  .mobile-nav-open:hover,
  .mobile-nav-open:active {
    cursor: pointer;
  }
  .nav-links {
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgba(234, 214, 214, 0.468);

    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
  }
  .section-hero {
    max-height: 50rem;
  }
  .hero-text {
    font-size: 4.8rem;
    padding-left: 1.2rem;
  }
  .hero-text-container {
    width: 42.5rem;
    height: 25rem;
  }
  .cta-button {
    width: 35rem;
    justify-content: right;
    height: 7.5rem;
    font-size: 3rem;
    padding: 0 1.2rem 0 2.4rem;
    transform: translate(0, 500%);
  }
  .section-about {
    gap: 1.2rem;
  }
  .section-about,
  .section-testimonials,
  .section-gallery,
  .section-plans,
  .section-faq,
  .section-form {
    padding: 3.2rem 3.2rem;
  }
  .about-title,
  .testimonials-title,
  .gallery-title,
  .plans-title,
  .faq-title {
    font-size: 4.8rem;
  }
  .about-icon {
    height: 3.2rem;
  }
  .about-list {
    gap: 0.2rem;
  }
  .about-list-items h4 {
    font-size: 2.4rem;
  }
  .about-list-items {
    grid-template-rows: 1fr 1fr 3fr;
  }
  .about-list-items p {
    font-size: 1.8rem;
  }
  .testimonial-container {
    height: 30rem;
    max-width: 80rem;
  }
  .testimonial-image {
    height: 6.4rem;
  }
  .dots {
    top: 80%;
  }
  .left-arrow,
  .right-arrow {
    top: 40%;
  }
  .form-container-all {
    gap: 1rem;
    padding: 3.2rem 1.8rem;
  }
  .form-title {
    font-size: 4rem;
  }
  .form-text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    padding: 1.2rem 1.2rem 1.2rem 0;
  }
  .footer-logo {
    height: 12.5rem;
  }
  .insta-logo,
  .facebook-logo {
    height: 3.2rem;
  }
  .footer-links {
    padding-top: 3.2rem;
  }
  .footer-link-title {
    font-size: 1.6rem;
  }
  .footer-link {
    font-size: 1.2rem;
  }
}

/* Mobile large */

@media (max-width: 39em) {
  .section-hero {
    height: 45rem;
  }
  .hero-text-container {
    height: 20rem;
    width: 30rem;
  }
  .hero-text {
    font-size: 3.2rem;
  }
  .cta-button {
    transform: translate(0, 425%);
    width: 27.5rem;
    font-size: 2.4rem;
  }
  .section-about {
    grid-template-rows: 1fr 5fr;
    gap: 0;
  }
  .about-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.2rem;
  }
  .about-icon {
    height: 4.8rem;
    padding-bottom: 2rem;
  }
  .about-list-items {
    grid-template-rows: 0.5fr 0.5fr 2fr;
  }
  .plans-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.4rem;
  }
  .plan {
    justify-self: center;
    width: 35rem;
  }
  .plan-title {
    font-size: 4.8rem;
  }
  .faq-content {
    font-size: 1.6rem;
  }
  .form-container-all {
    padding: 2.4rem 0;
  }
  .section-testimonials {
    max-height: 45rem;
  }
  .testimonial-container p {
    font-size: 1.6rem;
  }
  .testimonial-container {
    height: 20rem;
    padding-bottom: 0;
  }
  .testimonial-image {
    height: 4.2rem;
  }
  .dots {
    top: 57.5%;
    right: 45%;
  }
  .left-arrow,
  .right-arrow {
    height: 3.2rem;
    top: 35%;
  }
  .faq {
    font-size: 2.4rem;
  }
  .faq-content {
    font-size: 1.4rem;
  }
  .chevron-icon {
    height: 4rem;
  }
  .form-title {
    font-size: 2.6rem;
  }
  .form {
    max-width: 25rem;
    font-size: 2rem;
  }
  .form-text {
    font-size: 1.2rem;
  }
  .footer {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer-links {
    justify-self: center;
  }
  .footer-links:last-child {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
  }
  .footer-links:nth-child(4) {
    grid-column: 2 / span 2;
  }
}

/* Normal phone */

@media (max-width: 30em) {
  .section-hero {
    height: 42.5rem;
  }
  .header {
    height: 7rem;
    padding: 1.2rem;
  }
  .form-container-all {
    gap: 0;
  }
  .form-text {
    padding: 1.2rem;
  }
  .form {
    height: 3.5rem;
    font-size: 1.2rem;
    width: 17.5rem;
  }
  .form-title {
    font-size: 2rem;
  }
  .button-form {
    height: 3.5rem;
    font-size: 1.2rem;
  }
  .about-title,
  .testimonials-title,
  .gallery-title,
  .plans-title,
  .faq-title {
    font-size: 3.2rem;
  }
  .testimonial-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 26em) {
  .section-hero {
    height: 35rem;
  }
  .hero-text-container {
    height: 20rem;
    width: 22.5rem;
  }
  .hero-text {
    font-size: 3rem;
  }
  .cta-button {
    transform: translate(0, 525%);
    font-size: 1.8rem;
    height: 5rem;
    width: 22.5rem;
  }
  .section-about {
    grid-template-rows: 1fr 7fr;
  }
  .plan {
    width: 27.5rem;
  }
  .plan-title {
    font-size: 3.2rem;
  }
  .form {
    width: 15rem;
  }
  .form-title {
    font-size: 1.8rem;
  }
  .form-text {
    font-size: 1rem;
  }
  .about-title,
  .testimonials-title,
  .gallery-title,
  .plans-title,
  .faq-title {
    font-size: 3rem;
  }
  .testimonial-container {
    height: 17.5rem;
  }
  .left-arrow,
  .right-arrow {
    top: 30%;
  }
  .dots {
    top: 51.5%;
    right: 40%;
  }
}
