/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
FONT COLORS
#343a40
#212529

PAGE COLORS
#a4161a
#ba181b
#ead6d6


*/

/* HEADER */
/*------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ba181b;

  /* width: 9.6rem; */
  padding: 0 4.8rem;
}

.image-logo {
  height: 9.8rem;
}

.nav-links {
  color: #343a40;
  display: flex;
  align-items: center;
  background-color: #ba181b;
  list-style: none;
  font-size: 2.4rem;
  gap: 3.6rem;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #212529;
  cursor: pointer;
  transition: 0.3s;
}

/* HERO */
/*------- */

.section-hero {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.6),
      rgba(40, 40, 40, 0.6)
    ),
    url(../Lifter.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  background-color: #a4161a;
  max-width: 90rem;
  max-height: 70rem;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
  position: absolute;
  transform: translate(0%, 25%);
}

.hero-text {
  line-height: 1.1;
  padding: 2.4rem 4.8rem;
  font-size: 8.6rem;
}

.cta-button {
  border: none;
  width: 55rem;
  max-height: 10rem;
  grid-column: 2;
  background-color: #a4161a;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 135%);
  justify-self: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 0 0 0 8rem;
  transform: translate(0, 500%);
  transition: 0.3s;
}

.cta-button:hover,
.cta-button:active {
  cursor: pointer;
  background-color: #ba181b;
  width: 60rem;
  transition: 0.3s;
}
